<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>mainPage</title>
</head>
<body>
	
	<div id="main-page-container" th:fragment="errorPage">
		<h1>There was an error with the request</h1>

			<!-- <div th:text="${errorMessage}"></div> -->
	</div>
</body>
</html>