<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My messages</title>
</head>
<body>

<h1>My messages</h1><br/>

	<br/>

	<form class = "col-sm-11" action="#" th:action="@{/incMessage}" th:object="${messageFormData}" method="GET" th:fragment="incMessagePage">
	
<!-- 	<div class = "col-sm-11" action="#" th:action="@{/incMessage}" th:object="${messageFormData}" method="GET" th:fragment="incMessagePage"> -->
	
		
		<div th:each="message: ${messages}" >
            
        	<div th:styleappend="'background-color: grey'">    
            	<p><b>From: </b> <span th:text="${message.messageFrom.userName}" /></p>
            
				<p><b>Email: </b> <span th:text="${message.messageFrom.userEmail}" /></p>
            
            	<p><b>Date of message: </b> <span th:text="${message.messageDate}" /></p>
			
				<p><b>Message: </b> <span th:text="${message.messageBody}" /></p>
			</div>
			
			<br />
		
		</div>
		
<!-- 	</div> -->
	
	
	</form><br/>
	
</body>
</html>