<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Create new event</title>

</head>

<body>
    <form class="col-sm-11" th:fragment="new_event_form" action="#" th:action="@{/new_event}" th:object="${eventFormData}"
        method="POST">
        <div class="form-group row">
            <label for="eventTitleField">Title&nbsp;&nbsp;&nbsp;</label>
            <input class="form-control" type="text" style="max-width: 70%;" id="eventTitleField" th:field="*{eventTitle}" /><br />
        </div>
        <p th:errors="*{eventTitle}"></p><br />

        <div class="form-group row">
            <label for="eventDescriptionField">Description&nbsp;&nbsp;&nbsp;</label>
            <textarea class="form-control" type="text" style="max-width: 70%;" id="eventDescriptionField" rows="3"
                th:field="*{eventDescription}" />
            </div>
			<p th:errors="*{eventDescription}"></p><br/>
		
  		<div class="form-group row">
    		<label for="eventLocationField">Location&nbsp;&nbsp;&nbsp;</label>
		<input  class="form-control" type="text" style="max-width: 70%;"  id="eventLocationField" th:field="*{eventLocation}" /><br />
		</div>
		<p th:errors="*{eventLocation}"></p><br/>
		
		
		<h5>Date</h5>
		<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">		
		<br/>
		<table>
		<tr>
		<td>
  		<div class="form-group row">
    		<label for="eventFromYearField">Year&nbsp;</label>
		<input  class="form-control" type="text" style="max-width: 50%;"  id="eventFromYearField"  th:field="*{eventFromYear}" /> 
		</div>
		<p th:errors="*{eventFromYear}"></p><br/>
		</td>
		<td>		
  		<div class="form-group row">
			<label for="eventFromMonthField">Month&nbsp;</label>
		<input class="form-control" type="text" style="max-width: 50%;"  id="eventFromMonthField"  th:field="*{eventFromMonth}" /> 
		</div>
		<p th:errors="*{eventFromMonth}"></p></br>
		</td>
		<td>		
  		<div class="form-group row">
    		<label for="eventFromDayField">Day&nbsp;</label>
		<input class="form-control" type="text" style="max-width: 50%;"  id="eventFromDayField" th:field="*{eventFromDay}" /> 
		</div>
		<p th:errors="*{eventFromDay}"></p></br>
		</td>
		</tr>
		</table>
		<h5>Start of the event</h5>
		<br/>
		<table><tr>
		<td>
  		<div class="form-group row">
    		<label for="eventFromHourField">Hour&nbsp;</label>
		<input class="form-control" type="text" style="max-width: 50%;"  id="eventFromHourField" th:field="*{eventFromHour}" /> 
		</div>
		</td>
		<td>
  		<div class="form-group row">
    		<label for="eventFromMinuteField">Minute&nbsp;</label>
  		
			<select th:field="*{eventFromMinute}" id = "eventFromMinuteField" >
			    <option th:value="'00'" th:text="00"></option>
			    <option th:value="'15'" th:text="15"></option>
			    <option th:value="'30'" th:text="30"></option>
			    <option th:value="'45'" th:text="45"></option>
			</select>
		</div>	
		</td>		
        </tr>
            <tr>
                <td>
                    <p th:errors="*{eventFromHour}"></p></br>
                </td>
                <td></td>
            </tr>
		</table>
		
		<h5>End of the event</h5>
        <table>
            <tr>
                <td>
                    <div class="form-group row">
                        <label for="eventUntilHourField">Hour&nbsp;</label>
                        <input class="form-control" type="text" style="max-width: 50%;" id="eventUntilHourField" th:field="*{eventUntilHour}" />
                    </div>
                </td>
                <td>
                    <div class="form-group row">
                        <label for="eventUntilMinuteField">Minute&nbsp;</label>
        
                        <select th:field="*{eventUntilMinute}" id="eventFromUntilField">
                            <option th:value="'00'" th:text="00"></option>
                            <option th:value="'15'" th:text="15"></option>
                            <option th:value="'30'" th:text="30"></option>
                            <option th:value="'45'" th:text="45"></option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>                        
                    <p th:errors="*{eventUntilHour}"></p></br>
                </td>
                <td></td>
            </tr>
        </table>
		
		
		<input type="submit" value="Create new event"/>
	</form>

</body>

</html>