<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="users_past_events">
		<h1>Past events by you</h1>
		<div
			th:each="userCreatedEventData: ${userCreatedEventsData.usersEventsList}">
			<br />
            <p><b>What</b>: <span th:text="${userCreatedEventData.eventTitle}" /></p>
            <p>
                <span th:text="${userCreatedEventData.eventDescription}" />                
            </p>
			<p><b>Where</b>: <span th:text="${userCreatedEventData.eventLocation}" /></p>
            <p><b>When</b>: 
                <span th:text=${#temporals.dayOfWeekName(userCreatedEventData.eventFromDate)} />
                &nbsp;<span th:text="${userCreatedEventData.eventFromDate}" />
                &nbsp;<span th:text="${#temporals.format(userCreatedEventData.eventFrom, 'HH:mm')}" />
                &nbsp;-&nbsp;<span th:text="${#temporals.format(userCreatedEventData.eventUntil, 'HH:mm')}" />
            
            </p>
			<p><span th:text="${userCreatedEventData.invitedCount}" /> colleague(s) were invited.</p>
		</div>
	</div>

</body>
</html>