.article-box {
	margin-bottom: 20px;
}

.article-box .news-title,
.article-box .news-published,
.article-box .news-creator {
	background-color: #888;
}

.article-box .news-title,
.article-box .news-published {
	border-right: solid 1px #eee;
}

.article-box .news-text {
	background-color: #eee;
}
